# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Python test/coverage
.pytest_cache/
.coverage
*.cover
htmlcov/

# Logs
*.log
