__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg


.venv/
env/
venv/


.pytest_cache/
.coverage
htmlcov/
.cache/


.ipynb_checkpoints


.vscode/
.idea/


.DS_Store
Thumbs.db


*.log


.env
.env.*
